@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icons/icomoon.eot?bp3ufc');
  src:  url('../assets/fonts/icons/icomoon.eot?bp3ufc#iefix') format('embedded-opentype'),
    url('../assets/fonts/icons/icomoon.ttf?bp3ufc') format('truetype'),
    url('../assets/fonts/icons/icomoon.woff?bp3ufc') format('woff'),
    url('../assets/fonts/icons/icomoon.svg?bp3ufc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ikona_01:before {
  content: "\e900";
}
.icon-ikona_02:before {
  content: "\e901";
}
.icon-ikona_03:before {
  content: "\e902";
}
.icon-ikona_04:before {
  content: "\e903";
}
.icon-ikona_05:before {
  content: "\e904";
}
.icon-ikona_06:before {
  content: "\e905";
}
.icon-ikona_07:before {
  content: "\e906";
}
.icon-ikona_08:before {
  content: "\e907";
}
.icon-ikona_09:before {
  content: "\e908";
}
.icon-ikona_10:before {
  content: "\e909";
}
.icon-ikona_11:before {
  content: "\e90a";
}
.icon-ikona_12:before {
  content: "\e90b";
}
.icon-ikona_13:before {
  content: "\e90c";
}
.icon-ikona_14:before {
  content: "\e90d";
}
.icon-ikona_15:before {
  content: "\e90e";
}
.icon-ikona_16:before {
  content: "\e90f";
}
.icon-ikona_17:before {
  content: "\e910";
}
.icon-ikona_18:before {
  content: "\e911";
}
.icon-ikona_19:before {
  content: "\e912";
}
.icon-ikona_20:before {
  content: "\e913";
}
.icon-ikona_21:before {
  content: "\e914";
}
.icon-ikona_22:before {
  content: "\e915";
}
.icon-ikona_23:before {
  content: "\e916";
}
.icon-ikona_24:before {
  content: "\e917";
}
.icon-ikona_25:before {
  content: "\e918";
}
.icon-ikona_26:before {
  content: "\e919";
}
.icon-ikona_27:before {
  content: "\e91a";
}
.icon-ikona_28:before {
  content: "\e91b";
}
.icon-ikona_29:before {
  content: "\e91c";
}
.icon-ikona_30:before {
  content: "\e91d";
}
.icon-ikona_34:before {
  content: "\e91e";
  color: #fb393b;
}
.icon-ikona_35:before {
  content: "\e91f";
  color: #fb393b;
}
.icon-ikona_36:before {
  content: "\e920";
}
.icon-ikona_37:before {
  content: "\e921";
}
.icon-ikona_38:before {
  content: "\e922";
}
